/*COLORS*/
.white {
    color: white;
}

.background-primary {
    background-color:#008080;
}

.background-light {
    background-color: rgba(0,128,128,.1);
}

.background-dark {
    background-color: #264348;
}

/*TYPOGRAPHY*/

h1, h2, h3, h4, h5, h6 {
    color: #264348;
}

p {
    color: #262626;
}

/*Header Bar*/

.header-logo {
    max-width: 250px;
}

/*Navigation*/

#nav-toggle-button{
    background-color:rgba(0,128,128,.2);
    font-size: 2rem;
}

#nav-toggle-button:hover{
    background-color:#008080;
    color: white;
}

button#nav-toggle-button.navbar-toggler:focus {
    outline: none;
    box-shadow: none!important;
}

.navbar {
    border-bottom: 2px solid #008080;
}

a.nav-link, a.nav-link:visited {
    color: #264348;
    font-weight: bold;
}

a.nav-link:hover, .nav-link.active {
    color: #008080!important;
}

/*Main Content Sections*/

#mainContent {
    margin: 0;
    padding: 0;
}
#mission .row, #values .row, #experience .row, #services .row, #footer .row {
    max-width: 1200px;
    margin: 0 auto;
}

.imgcontainer img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

@media (min-width: 768px) {
    .imgcontainer img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }
}

@media (min-width: 992px) {
    .imgcontainer img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }
}

@media (min-width: 1200px) {
    .imgcontainer img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }
}

/*Contact Us*/

#contactForm {
    max-width: 900px;
    color: white;
}

.contactButton a {
    background-color:#DFEDEE;
    border: 3px solid #DFEDEE;
    color:#008080;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: .5rem;
}

.contactButton a:hover {
    background-color:#008080;
    border:3px solid #DFEDEE;
    color:#DFEDEE;
}

/*Footer*/

#footer a, #footer p {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    color: #cecece;
}